.siteWrap{
    width: 1903px;
}

.mt-5{
    margin-top: 20px;
}
.text-primary{
    color: #f08719;
}
.textCenter{
    text-align: center;
}
/* .container>div{
    margin: 0 auto;
} */
.fixPicture{
    width: 1500px;
    display: block;
    margin: auto;
}
